/* Global */
body {
    background: #a83b3b;
    padding: 40px;
}

div {
    word-break: break-all;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=50);
    /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}


/* Container */
.container-fluid {
    background: #fbf4e0;
    margin: 40px auto 10px;
    padding: 20px 0px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/* Page Header */
.page-header {
    background: #fbf4e0;
    margin: -30px 0px 0px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #a83b3b;
    text-transform: uppercase;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #a83b3b;
}



/* Thumbnail Box */
.caption {
    height: 140px;
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.caption .span4,
.caption .span8 {
    padding: 0px 20px;
}

.caption .span4 {
    border-right: 1px dotted #CCCCCC;
}

.caption h3 {
    color: #a83b3b;
    line-height: 2rem;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.caption p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #a83b3b;
}

.btn.btn-mini {
    background: #a83b3b;
    border-radius: 0 0 0 0;
    color: #fbf4e0;
    font-size: 0.63rem;
    text-shadow: none !important;
}

.carousel-control {
    top: 33%;
}




/* Footer */
.footer {
    margin: auto;
    width: 100%;
    max-width: 960px;
    display: block;
    font-size: 0.69rem;
}

.footer,
.footer a {
    color: #fff;
}

p.right {
    float: right;
}




/* ADD-ON
-------------------------------------------------- */
body:after {
    content: "less than 320px";
    font-size: 1rem;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: hsla(1, 60%, 40%, 0.7);
    color: #fff;
    height: 20px;
    padding-top: 0;
    margin-left: 0;
    left: 0
}

@media only screen and (min-width:320px) {
    body:after {
        content: "320 to 480px";
        background-color: hsla(90, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0
    }
}

@media only screen and (min-width:480px) {
    body:after {
        content: "480 to 768px";
        background-color: hsla(180, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0
    }
}

@media only screen and (min-width:768px) {
    body:after {
        content: "768 to 980px";
        background-color: hsla(270, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0
    }
}

@media only screen and (min-width:980px) {
    body:after {
        content: "980 to 1024px";
        background-color: hsla(300, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0
    }
}

@media only screen and (min-width:1024px) {
    body:after {
        content: "1024 and up";
        background-color: hsla(360, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0
    }
}

::selection {
    background: #ff5e99;
    color: #FFFFFF;
    text-shadow: 0;
}

::-moz-selection {
    background: #ff5e99;
    color: #FFFFFF;
}

a,
a:focus,
a:active,
a:hover,
object,
embed {
    outline: none;
}

:-moz-any-link:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}