{% extends "base.html" %}

{% block style %}
{% endblock %}


{% block content %}
<div class="container grid_container">
   <div class='row'>
      {% for show in shows %}
      <div class="card col-4" style="width: 18rem;">
         <img class="card-img-top" src="{{show.thumbnail}}" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">{{show.name}}</h5>
            <button class="btn btn-primary"
               onclick="window.location.href=`{{url_for('show', id=show.id)}}`">Watch</button>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}